{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% block sonata_profile_content %}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="hidden-sm">Nazwa aukcji, której dotyczy oferta</th>
                <th>Cena minimalna</th>
                <th>Dolny limit ceny:</th>
                <th>Opcje</th>
                <th>Status</th>
                <th>Aktualna pozycja</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in offers %}
                <tr{% if offer.isActive and offer.currentPosition == 1 %} style="background-color: #b9ffa2" {% endif %}>
                    <td class="td-width">
                        {{ offer.auctionName }}
                    </td>
                    <td class="td-width">
                        {{ offer.actualPrice }}&nbsp;PLN
                    </td>
                    <td class="td-width">
                        {{ offer.price }}&nbsp;PLN
                    </td>
                    <td>
                        <p><a style="width: 100%; text-align: center" class="btn-u btn-u-blue" href="{{ path('gpi_auction_details', {'id': offer.auctionId }) }}">Przejdź do aukcji</a>
                        </p>
                        {% if offer.isActive  and not offer.hasWon %}
                            <p><a style="width: 100%; text-align: center" class="btn-u btn-u-red" href="{{ path('gpi_offer_cancel', {'id': offer.id }) }}">Anuluj</a>
                            </p>
                        {% endif %}
                    </td>
                    <td>
                        <span class="{{ offerStatus.label(offer.status) }}">
                        {{ offerStatus.name(offer.status) }}
                        </span>
                    </td>
                    <td>
                     {{ offer.currentPosition }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}