<div class="container content">
    <div class="row">
        <div class="col-md-3">
            <div class="margin-bottom-30">
                <div class="headline"><h2>Kategoria</h2></div>
                {% for category in auction.getCategories() %}
                    <p>{{ category }}</p>
                {% endfor %}
            </div>
            <div class="margin-bottom-30">
                <div class="headline"><h2>Dodano przez</h2></div>
                <p>{{ auction.getCreatedBy() }}</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="headline"><h2>{{ auction.name }}</h2></div>
            <p>{{ auction.content|raw }}</p>
            {% if auction.getMaxPrice != null %}
                <p>Cana maksymalna: {{ auction.getMaxPrice() }}</p>
            {% endif %}
            <div class="container content">

                <div class="col-md-12">

                    <div class="owl-carousel-v1 owl-work-v1">

                        <div class="owl-recent-works-v1">
                            {% for document in auction.documents %}


                                <div class="item">
                                    <a href="/{{ document.getWebPath() }}" target="_blank">
                                        <em class="overflow-hidden">
                                            <img class="img-responsive" src="/{{ document.getWebPath() }}" alt="">
                                        </em>
                                <span>
                                    <strong>{{ document.description }}</strong>
                                    {#<i>Anim pariatur cliche reprehenderit</i>#}
                                </span>
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>