{% if isDeactivated %}
    <div class="alert alert-danger fade in"><strong>Aukcja została wyłączona przez administratora
            <br/>
            Powód:</strong> {{ disableReason.content }}
    </div>
{% elseif hasProperlyEnded %}

    <div class="alert alert-success fade in">Aukcja jest zakończona.</div>

{% elseif not isActive %}
    <div class="alert alert-warning fade in">Aukcja jest nieaktywna.</div>
{% endif %}
<div class="row margin-bottom-60">
    <div class="col-sm-8">
        <div class="headline"><h2>{{ auction.name }}</h2></div>
        <p>{{ auction.content|raw }}</p>
        {% if auction.comments|length > 0 %}
            <br/>
            <fieldset>
                <label>Dodatkowe uwagi:</label>
                <br/>
                {% for comment in auction.comments %}
                    <div><strong>{{ comment.created.format('Y-m-d H:i:s') }}:</strong> {{ comment.content }}</div>
                {% endfor %}
            </fieldset>
        {% endif %}
        {% if not (app.security.getToken().getUser() == auction.createdBy()) and auction.isActive() %}
            {% if app.user %}
                <a class="btn-u" href="{{ path("gpi_offer_homepage", {'auctionId': auction.id }) }}">Dodaj nową
                    ofertę</a>
            {% else %}
                <a class="btn-u" href="{{ path("gpi_offer_homepage", {'auctionId': auction.id }) }}">Dodaj nową
                    ofertę
                    <div style="font-size: 10px">(musisz być zalogowany)</div>
                </a>

            {% endif %}
        {% endif %}

    </div>
    <div class="col-sm-4">
        <div class="headline"><h2>Szczegóły</h2></div>
        <ul class="list-unstyled project-details">
            <li><strong>Dodano przez:</strong> {{ auction.getCreatedBy() }}</li>
            {% if auction.maxRealizationDate is not null %}
                <li><strong>Maksymalna data realizacji
                        zlecenia: </strong> {{ auction.maxRealizationDate.format('Y-m-d') }}</li>
            {% endif %}

            <li><strong>Czas trwania aukcji:</strong></li>
            <li><strong>Data dodania:</strong> {{ auction.getStartTime().format('Y-m-d H:i:s') }}</li>
            <li><strong>Data zakończenia:</strong> {{ auction.getEndTime().format('Y-m-d H:i:s') }}</li>

            <li><strong>Kategorie:</strong></li>
            {% for category in auction.getCategories() %}
                <li>&nbsp;&nbsp;&nbsp;&nbsp;{{ category }}</li>
            {% endfor %}

            {% if auction.getMaxPrice != null and app.user %}
                <li><strong>Cena maksymalna:</strong> {{ auction.getMaxPrice() }}</li>
            {% endif %}

            {% if auction.getAttributeValues() != null %}
                {% for attribute in auction.getAttributeValues() %}
                    <li><strong>{{ attribute.name }}:</strong> {{ attribute.value }}</li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>

<div class="fusion-portfolio wrapper-portfolio-grid cbp-4-col">
    <div id="grid-container" class="cbp-l-grid-gallery">
        <ul>
            {% for document in auction.documents %}
                <li class="cbp-item motion">
                    {% if not document.isDownloadable() %}
                    <a href="{{ asset(document.getWebPath()) }}" target="_blank" class="cbp-caption cbp-lightbox">
                        {% else %}
                        <a href="{{ asset(document.getWebPath()) }}" download>
                            {% endif %}
                            <div class="cbp-caption-defaultWrap" style="text-align: center;">
                                <img src="{{ asset(document.getWebImagePath()) }}" alt=""
                                     style="width: auto; max-width: 100%; max-height: 100%;">
                            </div>
                            {#<div class="cbp-caption-activeWrap">#}
                            {#<div class="cbp-l-caption-alignCenter">#}
                            {#<div class="cbp-l-caption-body">#}
                            {#<p class="cbp-l-caption-desc">{{ document.description }}</p>#}
                            {#</div>#}
                            {#</div>#}
                            {#</div>#}
                        </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="table-responsive">
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="hidden-sm">Złożył</th>
            <th>Cena minimalna</th>
            <th></th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        {% for offer in auction.getActiveOffers() %}
            {% if loop.first %}
                <tr style="background-color: #88de73">
            {% else %}
                <tr>
            {% endif %}
            <td class="td-width">
                {{ offer.createdBy }}
            </td>
            <td class="td-width">
                {{ offer.actualPrice }}
            </td>
            <td class="td-width">
                {% if app.security.getToken().getUser() == offer.createdBy() or app.security.getToken().getUser() == offer.getAuction().createdBy() %}
                    <a class="btn-u btn-u-blue"
                       href="{{ path('gpi_offer_details', {'id': offer.id}) }}">Szczegóły</a>
                {% endif %}
            </td>
            <td>
                        <span class="{{ offerStatus.label(offer.getStatus()) }}">
                        {{ offerStatus.name(offer.getStatus()) }}
                        </span>
            </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
