<div class="row margin-bottom-60">
    <div class="col-sm-8">
        <div class="headline"><h2>{{ auction.name }}</h2></div>
        <p>{{ auction.content|raw }}</p>
        <br/>
        {% if not app.security.getToken().getUser() == auction.createdBy() and auction.isActive() %}
        <a class="btn-u" href="{{ path("gpi_offer_homepage", {'auctionId': auction.id }) }}">Dodaj nową ofertę</a>
        {% endif %}

    </div>
    <div class="col-sm-4">
        <div class="headline"><h2>Szczegóły</h2></div>
        <ul class="list-unstyled project-details">
            <li><strong>Dodano przez:</strong> {{ auction.getCreatedBy() }}</li>
            <li><strong>Data dodania:</strong> {{ auction.getStartTime().format('Y-m-d H:i:s') }}</li>
            <li><strong>Data zakończenia:</strong> {{ auction.getEndTime().format('Y-m-d H:i:s') }}</li>
            <li><strong>Kategorie:</strong></li>
            {% for category in auction.getCategories() %}
                <li>&nbsp;&nbsp;&nbsp;&nbsp;{{ category }}</li>
            {% endfor %}
            {% if auction.getMaxPrice != null %}
                <li><strong>Cena maksymalna:</strong> {{ auction.getMaxPrice() }}</li>
            {% endif %}

        </ul>
    </div>
</div>


<div class="fusion-portfolio wrapper-portfolio-grid cbp-3-col">
    <div id="grid-container" class="cbp-l-grid-gallery">
        <ul>
            {% for document in auction.documents %}
                <li class="cbp-item motion">
                    <a href="/{{ document.getWebPath() }}" target="_blank" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="/{{ document.getWebPath() }}" alt="" width="100%">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <p class="cbp-l-caption-desc">{{ document.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}

        </ul>

    </div>
</div>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="hidden-sm">Złożył</th>
                <th>Cena minimalna</th>
                <th>Opcje</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for offer in auction.getActiveOffers() %}
                <tr>
                    <td class="td-width">
                        {{ offer.createdBy }}
                    </td>
                    <td class="td-width">
                        {{ offer.price }}
                    </td>
                    <td class="td-width">
                        {% if app.security.getToken().getUser() == offer.createdBy() or app.security.getToken().getUser() == offer.getAuction().createdBy() %}
                        <a class="btn-u btn-u-blue"
                           href="{{ path('gpi_offer_details', {'id': offer.id}) }}">Szczegóły</a>
                        {% endif %}
                    </td>
                    <td>
                        <span class="{{ offerStatus.label(offer.getStatus()) }}">
                        {{ offerStatus.name(offer.getStatus()) }}
                        </span>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
</div>
