{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends "SonataUserBundle:Profile:action.html.twig" %}
{% block sonata_profile_content %}

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th></th>
                <th class="hidden-sm">Oferta</th>
                <th>Opcje</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>

            {% for auction in auctions %}

                <tr>
                    <td>
                        <img class="rounded-x" src="{{ auction.getMainPhoto() }}" alt="">
                    </td>
                    <td class="td-width">
                        <h3>{{ auction.name }}</h3>

                        <p>{{ auction.getContentShort() }}</p>
                        <small class="hex">Zakończenie {{ auction.getEndTime().format('Y-m-d H:i:s') }}</small>
                    </td>
                    <td>

                        <p><a href="{{ path('gpi_auction_details', {'id': auction.id }) }}">Szczegóły</a></p>
                        {% if auction.isActive() %}
                            <p><a href="{{ path('gpi_auction_edit', {'id': auction.id }) }}">Edytuj</a></p>

                            <p><a href="{{ path('gpi_auction_cancel', {'id': auction.id }) }}">Anuluj</a></p>
                        {% endif %}
                    </td>
                    <td>
                            <span class="{{ auctionStatus.label(auction.getStatus()) }}">
                                {{ auctionStatus.name(auction.getStatus()) }}
                            </span>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>


    <div class="row row-fluid">
        {% set has_center = false %}
        {% for block in blocks %}
            {% if block.position == 'center' %}
                {% set has_center = true %}
            {% endif %}
        {% endfor %}
        <div class="{% if has_center %}span4 col-lg-4{% else %}span6 col-lg-6{% endif %}">
            {% for block in blocks %}
                {% if block.position == 'left' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endif %}
            {% endfor %}
        </div>

        {% if has_center %}
            <div class="span4 col-lg-4">
                {% for block in blocks %}
                    {% if block.position == 'center' %}
                        {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

        <div class="{% if has_center %}span4 col-lg-4{% else %}span6 col-lg-6{% endif %}">
            {% for block in blocks %}
                {% if block.position == 'right' %}
                    {{ sonata_block_render({ 'type': block.type, 'settings': block.settings}) }}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}