<th>{% block name %}{{ admin.trans(field_description.label) }}{% endblock %}</th>
<td>
    <a href="/{{ object.getWebPath() }}" target="_blank">
        <img style="width: 350px" src="/{{ asset(object.getWebPath) }}" title="{{ object.getDescription() }}"/>
    </a>
    <br/>
    {% block field %}{{ value|nl2br }}{% endblock %}
</td>