{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% endblock %}

{% block sonata_page_head %}
    <head {{ sonata_seo_head_attributes() }}>
        <title>Giełda Projektów Inżynierskich</title>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}

        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html" charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content=""/>
        <meta name="author" content=""/>

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/bootstrap/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/css/style.css") }}">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/line-icons/line-icons.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/font-awesome/css/font-awesome.min.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/flexslider/flexslider.css") }}">
        {#<link rel="stylesheet"#}
        {#href="{{ asset("/bundles/gpilayout/plugins/owl-carousel/owl-carousel/owl.carousel.css") }}">#}
        <link rel="stylesheet"
              href="{{ asset("/bundles/gpilayout/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css") }}">
        <link rel="stylesheet"
              href="{{ asset("/bundles/gpilayout/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.css") }}">


        <!-- CSS Theme -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/css/theme-colors/default.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/css/pages/page_job.css") }}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/css/custom.css") }}">

        {% block sonata_page_stylesheets %}
            {% block page_stylesheets %} {# Deprecated block #}
                {% for stylesheet in sonata_page.assets.stylesheets %}
                    <link rel="stylesheet" href="{{ asset(stylesheet) }}" type="text/css" media="all"/>
                {% endfor %}
            {% endblock %}
        {% endblock %}

        {% block sonata_page_javascripts %}
            {% block page_javascripts %} {# Deprecated block #}
                <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
                <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->

                {% for js in sonata_page.assets.javascripts %}
                    <script src="{{ asset(js) }}" type="text/javascript"></script>
                {% endfor %}
            {% endblock %}
        {% endblock %}

    </head>
{% endblock %}

{% block sonata_page_body_tag %}
<body>
{% endblock %}

<div class="wrapper">
<!--=== Header ===-->
<div class="header">
    <!-- Topbar -->

    <div class="topbar" style="padding:0; min-width: 400px">

        <div class="container">
            <div class="row" style="position: relative;">
                <div class="col-md-3 col-xs-12">
                    <a class="navbar-brand" href="/">
                        <br/>
                        <img id="logo-header" src="{{ asset("/bundles/gpilayout/img/logo-lightback.png") }}"
                             alt="Logo">
                    </a>
                </div>
                <div class="col-md-9 col-xs-12" style="position: static; height: 35px; overflow: hidden;">
                    &nbsp;
                </div>

                <div style="overflow: hidden; position: absolute; right: 5px; top: 0; ">
                    <ul class="loginbar pull-right">
                        {% if app.user %}
                            <li><a href="{{ path('sonata_user_profile_show') }}"><i
                                            class="fa fa-user"></i>&nbsp; {{ app.user.username }}</a>
                            </li>
                            <li class="topbar-devider"></li>

                            <li>
                                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i>&nbsp;{{ 'link_logout' | trans({}, "SonataUserBundle") }}
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ path('fos_user_security_login') }}"><i
                                            class="fa fa-sign-in"></i>&nbsp;{{ 'link_login'|trans({}, 'SonataUserBundle') }}
                                    / {{ 'link_register'|trans({}, 'SonataUserBundle') }}</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="navbar navbar-default mega-menu" role="navigation"
                     style="position: absolute; right: 0; bottom: 0;">
                    <ul class="nav navbar-nav">
                        <li style="display: inline-block"><a href="/">Strona główna</a></li>
                        <li style="display: inline-block"><a href="{{ path('gpi_site_regulations') }}">Regulamin</a></li>
                        <li style="display: inline-block"><a href="{{ path('gpi_site_faq') }}">FAQ</a></li>
                    </ul>
                </div>
            </div>


        </div>
    </div>

    <!-- End Topbar -->

    <!-- Navbar -->

    <!-- End Navbar -->
</div>
<!--=== End Header ===-->

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">

</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

{% block sonata_page_container %}
    <!--=== Content Part ===-->

    <div class="container content" style="padding-top: 0">
        <div class="service-block service-block-dark-blue" style="">
            <h2 class="heading-md" style="margin-top: 0;"><i class="icon-2x color-light icon-line icon-bulb"></i>
                Czym jest Giełda Projektów Inżynierskich?</h2>

            <p>Nowatorski serwis "aukcyjno-ogłoszeniowy" o&nbsp;tematyce inżynierskiej.<br/>
                <span class="label rounded label-primary"><strong>Zleceniodawca</strong></span> określa ile może
                zapłacić za&nbsp;projekt,
                a&nbsp;<span class="label rounded label-primary"><strong>Ofertujący</strong></span> wie ile wynosi
                najniższa oferta.<br/>
                Takie podejście daje możliwość Ofertującym bycia konkurencyjnym,
                a&nbsp;Zleceniodawcy pewność, że nie przepłacił za projekt.</p>
        </div>

        {% block page_content %}
            {% if content is defined %}
                {{ content|raw }}
            {% else %}
                {% set content = block('content') %}
                {% if content|length > 0 %}
                    {{ content|raw }}
                {% elseif page is defined %}
                    {{ sonata_page_render_container('content', page) }}
                {% endif %}
            {% endif %}
            {% if page is defined %}

                <div class="row">


                    <div class="col-md-12">
                        {{ sonata_page_render_container('left_col', page) }}
                        <!-- About Us -->
                        <div class="margin-bottom-30">

                        </div>

                    </div>
                    <!--/col-md-3-->

                    <div class="col-md-12">
                        {{ sonata_page_render_container('right_col', page) }}

                    </div>
                    <!--/col-md-9-->
                </div><!--/row-->
            {% endif %}

        {% endblock %}

    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}

<!--=== Footer Version 1 ===-->
<div class="footer-v1" style="padding: 10px 0px;">
    <div class="footer" style="padding: 10px 0px;">
        <div class="container">
            <div class="row">
                <!-- About -->
                <div class="col-md-3 md-margin-bottom-40">
                    <a href="index.html"><img id="logo-footer" class="footer-logo"
                                              src="{{ asset("/bundles/gpilayout/img/logo-darkback.png") }}" alt=""></a>

                    <p>Nowatorski serwis "aukcyjno-ogłoszeniowy" o&nbsp;tematyce inżynierskiej.<br/><br/>
                        Zleceniodawca określa ile może
                        zapłacić za&nbsp;projekt,
                        a&nbsp;Ofertujący wie ile wynosi
                        najniższa oferta.</p>
                </div>
                <!--/col-md-3-->
                <!-- End About -->

                <div class="col-md-3 md-margin-bottom-40">

                </div>

                <!-- Link List -->
                <div class="col-md-3 md-margin-bottom-40">
                    <div class="headline"><h2>Przydatne linki</h2></div>
                    <ul class="list-unstyled link-list">
                        <li><a href="{{ path('gpi_site_regulations') }}">Regulamin</a><i
                                    class="fa fa-angle-right"></i></li>
                        <li><a href="{{ path('gpi_site_faq') }}">FAQ</a><i class="fa fa-angle-right"></i></li>
                    </ul>
                </div>
                <!--/col-md-3-->
                <!-- End Link List -->

                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Kontakt</h2></div>
                    <address class="md-margin-bottom-40">
                        Marek Laszuk "RUSKÓW" <br>
                        ul. Wiejska 10 <br>
                        08-200 Łosice, Polska <br>
                        Telefon: +48 (083) 359 06 13  <br>
                        Fax: +48 (083) 359 06 13 <br>
                        Email: <a href="mailto:gpi@projektyinzynierskie.pl" class="">gpi@projektyinzynierskie.pl</a>
                    </address>
                </div>
                <!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div>
</div>
<!--=== End Footer Version 1 ===-->
</div>
<!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/jquery/jquery-migrate.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/bootstrap/js/bootstrap.min.js") }}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/back-to-top.js") }}"></script>
<script type="text/javascript"
        src="{{ asset("/bundles/gpilayout/plugins/flexslider/jquery.flexslider-min.js") }}"></script>
<script type="text/javascript"
        src="{{ asset("/bundles/gpilayout/plugins/owl-carousel/owl-carousel/owl.carousel.js") }}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/custom.js") }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/app.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/plugins/owl-recent-works.js") }}"></script>
{#<script type="text/javascript" src="{{ asset("/assetic/sonata_admin_js.js") }}"></script>#}
{#<script type="text/javascript" src="{{ asset("/assetic/sonata_front_js.js") }}"></script>#}
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        App.initSliders();
        OwlRecentWorks.initOwlRecentWorksV2();
    });
</script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/back-to-top.js") }}"></script>
<script type="text/javascript"
        src="{{ asset("/bundles/gpilayout/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js") }}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/custom.js") }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/app.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/plugins/cube-portfolio.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>


<!--[if lt IE 9]>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/respond.js") }}"></script>
<
script
type = "text/javascript"
src = "{{ asset(" / bundles / gpilayout / plugins / html5shiv.js
") }}" ></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/plugins/placeholder-IE-fixes.js") }}"></script>
<![endif]-->

</body>
</html> 