{%- block sonata_page_html_tag -%}
<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"> <!--<![endif]-->
{% endblock %}

{% block sonata_page_head %}
    <head {{ sonata_seo_head_attributes() }}>
        <title>Giełda Projektów Inżynierskich</title>
        {{ sonata_seo_title() }}
        {{ sonata_seo_metadatas() }}

        <!-- Meta -->
        <meta http-equiv="content-type" content="text/html" charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />

        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico" />

        <!-- CSS Global Compulsory -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/bootstrap/css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/css/style.css") }}">

        <!-- CSS Implementing Plugins -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/line-icons/line-icons.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/font-awesome/css/font-awesome.min.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/flexslider/flexslider.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/owl-carousel/owl-carousel/owl.carousel.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/sky-forms/version-2.0.1/css/custom-sky-forms.css") }}">
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.css") }}">


        <!-- CSS Theme -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/css/theme-colors/default.css") }}">

        <!-- CSS Customization -->
        <link rel="stylesheet" href="{{ asset("/bundles/gpilayout/css/custom.css") }}">

        {% block sonata_page_stylesheets %}
            {% block page_stylesheets %} {# Deprecated block #}
                {% for stylesheet in sonata_page.assets.stylesheets %}
                    <link rel="stylesheet" href="{{ asset(stylesheet) }}" type="text/css" media="all"/>
                {% endfor %}
            {% endblock %}
        {% endblock %}

        {% block sonata_page_javascripts %}
            {% block page_javascripts %} {# Deprecated block #}
                <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
                <!--[if lt IE 9]>
                <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->

                {% for js in sonata_page.assets.javascripts %}
                    <script src="{{ asset(js) }}" type="text/javascript"></script>
                {% endfor %}
            {% endblock %}
        {% endblock %}
    </head>
{% endblock %}

{% block sonata_page_body_tag %}
<body>
{% endblock %}

<div class="wrapper">
<!--=== Header ===-->
<div class="header">
    <!-- Topbar -->
    <div class="topbar">

        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <a class="navbar-brand" href="/">
                        <br/>
                        <img id="logo-header" src="{{ asset("/bundles/gpilayout/img/logo1-default.png") }}" alt="Logo">
                    </a>
                </div>
                <div class="col-md-9">
                    <div style="overflow: hidden;">
                        <!-- Topbar Navigation -->
                        <ul class="loginbar pull-right">
                            {% if app.user %}
                                <li><a href="{{ path('sonata_user_profile_show') }}">{{ app.user.username }}</a></li>
                                <li class="topbar-devider"></li>

                                <li>
                                    <a href="{{ path('fos_user_security_logout') }}">{{ 'link_logout' | trans({}, "SonataUserBundle") }}</a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'link_login'|trans({}, 'SonataUserBundle') }}
                                        / {{ 'link_register'|trans({}, 'SonataUserBundle') }}</a></li>
                            {% endif %}

                        </ul>
                        <!-- End Topbar Navigation -->
                    </div>

                    <div class="visible-md" style="text-align: center; font-size: 11px; color: #818181">
                        Nowatorski serwis "aukcyjno-ogłoszeniowy" o tematyce inżynierskiej.<br/>
                        Zleceniodawca określa ile może zapłacić za projekt, a Ofertujący wie ile wynosi najniższa
                        oferta.<br/>
                        Takie podejście daje możliwość Ofertującym bycia konkurencyjnym,<br/>
                        a Zleceniodawcy pewność, że nie przepłacił za projekt.
                    </div>
                    <div class="visible-lg" style="text-align: center; color: #818181">
                        Nowatorski serwis "aukcyjno-ogłoszeniowy" o tematyce inżynierskiej.<br/>
                        Zleceniodawca określa ile może zapłacić za projekt, a Ofertujący wie ile wynosi najniższa
                        oferta.<br/>
                        Takie podejście daje możliwość Ofertującym bycia konkurencyjnym,<br/>
                        a Zleceniodawcy pewność, że nie przepłacił za projekt.
                    </div>
                </div>
            </div>


            {#<div style="display:inline;">#}

            {#</div>#}


        </div>
    </div>
    <!-- End Topbar -->

    <!-- Navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-responsive-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="fa fa-bars"></span>
                </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-responsive-collapse">
                <ul class="nav navbar-nav">
                    <!-- Home -->
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <!-- End Home -->

                    <!-- FAQs Pages -->
                    <li><a href="faq.html">FAQ</a></li>
                    <!-- End FAQs Pages -->

                    <!-- Privacy Policy -->
                    <li><a href="page_privacy.html">Privacy Policy</a></li>
                    <!-- End Privacy Policy -->

                    <!-- Terms Of Service -->
                    <li><a href="page_terms.html">Terms Of Service</a></li>
                    <!-- End Terms Of Service -->

                    <!-- Search Block -->
                    {#<li>#}
                        {#<i class="search fa fa-search search-btn"></i>#}

                        {#<div class="search-open">#}
                            {#<div class="input-group animated fadeInDown">#}
                                {#<input type="text" class="form-control" placeholder="Search"/>#}
                                {#<span class="input-group-btn">#}
                                    {#<button class="btn-u" type="button">Go</button>#}
                                {#</span>#}
                            {#</div>#}
                        {#</div>#}
                    {#</li>#}
                    <!-- End Search Block -->
                </ul>
            </div>
            <!--/navbar-collapse-->
        </div>
    </div>
    <!-- End Navbar -->
</div>
<!--=== End Header ===-->

<!--=== Breadcrumbs ===-->
<div class="breadcrumbs">
    {#<div class="container">#}
    {#<h1 class="pull-left">Left Column</h1>#}
    {#<ul class="pull-right breadcrumb">#}
    {#<li><a href="/">Home</a></li>#}
    {#<li><a href="">Pages</a></li>#}
    {#<li class="active">Left Column</li>#}
    {#</ul>#}
    {#</div>#}
</div>
<!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

{% block sonata_page_container %}
    <!--=== Content Part ===-->

    <div class="container content">
    {% block page_content %}
        {% if content is defined %}
            {{ content|raw }}
        {% else %}
            {% set content = block('content') %}
            {% if content|length > 0 %}
                {{ content|raw }}
            {% elseif page is defined %}
                {{ sonata_page_render_container('content', page) }}
            {% endif %}
        {% endif %}
        {% if page is defined %}

            <div class="row">


            <div class="col-md-3">
                {{ sonata_page_render_container('left_col', page) }}
                <!-- About Us -->
                <div class="margin-bottom-30">
                    {#<div class="headline"><h2>About Us</h2></div>#}
                    {#<p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna.</p>#}
                    {#<ul class="list-unstyled">#}
                    {#<li><i class="fa fa-check color-green"></i> Consectetur adipiscing elit</li>#}
                    {#<li><i class="fa fa-check color-green"></i> Ipsum dolor sit amet</li>#}
                    {#<li><i class="fa fa-check color-green"></i> Personal and effective approach</li>#}
                    {#<li><i class="fa fa-check color-green"></i> Ut non libero magna sedot</li>#}
                    {#</ul>#}
                </div>

                {#<!-- Posts -->#}
                {#<div class="posts margin-bottom-30">#}
                {#<div class="headline"><h2>Recent Blog Entries</h2></div>#}
                {#<dl class="dl-horizontal">#}
                {#<dt><a href="#"><img src="/bundles/gpilayout/img/sliders/elastislide/10.jpg" alt="" /></a></dt>#}
                {#<dd>#}
                {#<p><a href="#">Lorem sequat ipsum dolor lorem sunt aliqua put</a></p>#}
                {#</dd>#}
                {#</dl>#}
                {#<dl class="dl-horizontal">#}
                {#<dt><a href="#"><img src="/bundles/gpilayout/img/sliders/elastislide/11.jpg" alt="" /></a></dt>#}
                {#<dd>#}
                {#<p><a href="#">It works on all major web browsers tablets</a></p>#}
                {#</dd>#}
                {#</dl>#}
                {#<dl class="dl-horizontal">#}
                {#<dt><a href="#"><img src="/bundles/gpilayout/img/sliders/elastislide/9.jpg" alt="" /></a></dt>#}
                {#<dd>#}
                {#<p><a href="#">Brunch 3 wolf moon tempor sunt aliqua put.</a></p>#}
                {#</dd>#}
                {#</dl>#}
                {#</div><!--/posts-->#}

                <!-- Contact Us -->
                {#<div class="who margin-bottom-30">#}
                {#<div class="headline"><h2>Contact Us</h2></div>#}
                {#&#123;&#35;<p>Vero facilis est etenim a feugiat cupiditate non quos etrerum facilis.</p>&#35;&#125;#}
                {#&#123;&#35;<ul class="list-unstyled">&#35;&#125;#}
                {#&#123;&#35;<li><a href="#"><i class="fa fa-home"></i>5B amus ED554, New York, US</a></li>&#35;&#125;#}
                {#&#123;&#35;<li><a href="#"><i class="fa fa-envelope"></i>infp@example.com</a></li>&#35;&#125;#}
                {#&#123;&#35;<li><a href="#"><i class="fa fa-phone"></i>1(222) 5x86 x97x</a></li>&#35;&#125;#}
                {#&#123;&#35;<li><a href="#"><i class="fa fa-globe"></i>http://www.example.com</a></li>&#35;&#125;#}
                {#&#123;&#35;</ul>&#35;&#125;#}
                {#</div>#}
            </div>
            <!--/col-md-3-->

            <div class="col-md-9">
                {{ sonata_page_render_container('right_col', page) }}
                <!-- Our Services -->
                {#<div class="headline"><h2>Our Services</h2></div>#}
                {#<div class="row margin-bottom-10">#}
                {#<div class="col-md-4 col-sm-6">#}
                {#<div class="service-block service-block-default">#}
                {#<i class="icon-custom icon-color-dark rounded-x fa fa-lightbulb-o"></i>#}
                {#<h2 class="heading-md">Default Box</h2>#}
                {#<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-6">#}
                {#<div class="service-block service-block-red">#}
                {#<i class="icon-custom icon-color-light rounded-x icon-line icon-fire"></i>#}
                {#<h2 class="heading-md">Red Box</h2>#}
                {#<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine usce dapibus elit nondapibus</p>#}
                {#</div>#}
                {#</div>#}
                {#<div class="col-md-4 col-sm-12">#}
                {#<div class="service-block service-block-dark">#}
                {#<i class="icon-custom icon-color-light rounded-x icon-line icon-rocket"></i>#}
                {#<h2 class="heading-md">Dark Box</h2>#}
                {#<p>Donec id elit non mi porta gravida at eget metus id elit mi egetine. Fusce dapibus</p>#}
                {#</div>#}
                {#</div>#}
                {#</div>                <!-- End Our Services -->#}

                <!-- Blockquotes -->
                {#<p>Unify is an <strong class="color-green">incredibly beautiful</strong> responsive Bootstrap Template for corporate and creative professionals. It works on all major web browsers. Award winning digital agency. We bring a personal and effective approach adipiscing elit approach to <strong class="color-green">every project</strong> we work on, which is why our clients love us and why they. Lorem sequat ipsum dolor lorem sit amet, consectetur adipiscing dolor elit.</p>#}
                {#<p>Fusce condimentum eleifend enim a feugiat. Pellentesque viverra vehicula sem ut volutpat. Lorem ipsum dolor sit amet, conse cteturse adipiscing elit magna consectetur and effective.</p>#}
                {#<br>#}
                {#<blockquote class="hero-unify margin-bottom-40">#}
                {#<p>Award winning digital agency. We bring a personal and effective consectetur and effective approach adipiscing elit approach to every project we work on, which is why our clients love us and why they.</p>#}
                {#<small>CEO, Jack Baur</small>#}
                {#</blockquote>#}
                <!-- End Blockquotes -->

                <!-- Recent Works -->
                {#<div class="owl-carousel-v1 owl-work-v1 margin-bottom-40">#}
                {#<div class="headline"><h2 class="pull-left">Recent Works</h2>#}
                {#<div class="owl-navigation">#}
                {#<div class="customNavigation">#}
                {#<a class="owl-btn prev-v2"><i class="fa fa-angle-left"></i></a>#}
                {#<a class="owl-btn next-v2"><i class="fa fa-angle-right"></i></a>#}
                {#</div>#}
                {#</div><!--/navigation-->#}
                {#</div>#}

                {#<div class="owl-recent-works-v1">#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/1.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Happy New Year</strong>#}
                {#<i>Anim pariatur cliche reprehenderit</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/2.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Award Winning Agency</strong>#}
                {#<i>Responsive Bootstrap Template</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/3.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Wolf Moon Officia</strong>#}
                {#<i>Pariatur prehe cliche reprehrit</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/4.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Food Truck Quinoa Nesciunt</strong>#}
                {#<i>Craft labore wes anderson cred</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/5.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Happy New Year</strong>#}
                {#<i>Anim pariatur cliche reprehenderit</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/1.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Happy New Year</strong>#}
                {#<i>Anim pariatur cliche reprehenderit</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/2.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Award Winning Agency</strong>#}
                {#<i>Responsive Bootstrap Template</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/3.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Wolf Moon Officia</strong>#}
                {#<i>Pariatur prehe cliche reprehrit</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/4.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Food Truck Quinoa Nesciunt</strong>#}
                {#<i>Craft labore wes anderson cred</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#<div class="item">#}
                {#<a href="#">#}
                {#<em class="overflow-hidden">#}
                {#<img class="img-responsive" src="/bundles/gpilayout/img/main/5.jpg" alt="">#}
                {#</em>    #}
                {#<span>#}
                {#<strong>Happy New Year</strong>#}
                {#<i>Anim pariatur cliche reprehenderit</i>#}
                {#</span>#}
                {#</a>#}
                {#</div>#}
                {#</div>#}
                {#</div>#}
                <!-- End Recent Works -->
            </div>
            <!--/col-md-9-->
            </div><!--/row-->
        {% endif %}

    {% endblock %}
    <!-- Our Clients -->
    {#<div id="clients-flexslider" class="flexslider home clients">#}
    {#<div class="headline"><h3>Our Clients</h3></div>#}
    {#<ul class="slides">#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/hp_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/hp.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/igneus_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/igneus.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/vadafone_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/vadafone.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/walmart_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/walmart.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/shell_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/shell.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/natural_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/natural.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/aztec_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/aztec.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/gamescast_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/gamescast.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/cisco_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/cisco.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/everyday_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/everyday.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/cocacola_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/cocacola.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/spinworkx_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/spinworkx.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/shell_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/shell.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/natural_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/natural.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/gamescast_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/gamescast.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/everyday_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/everyday.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#<li>#}
    {#<a href="#">#}
    {#<img src="/bundles/gpilayout/img/clients/spinworkx_grey.png" alt="" />#}
    {#<img src="/bundles/gpilayout/img/clients/spinworkx.png" class="color-img" alt="" />#}
    {#</a>#}
    {#</li>#}
    {#</ul>#}
    {#</div><!--/flexslider-->#}
    <!-- End Our Clients -->
    </div><!--/container-->
    <!--=== End Content Part ===-->
{% endblock %}

<!--=== Footer Version 1 ===-->
<div class="footer-v1">
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- About -->
                {#<div class="col-md-3 md-margin-bottom-40">#}
                {#<a href="/"><img id="logo-footer" class="footer-logo" src="/bundles/gpilayout/img/logo2-default.png" alt=""></a>#}
                {#<p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>#}
                {#<p>Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>#}
                {#</div><!--/col-md-3-->#}
                <!-- End About -->

                <!-- Latest -->
                {#<div class="col-md-3 md-margin-bottom-40">#}
                {#<div class="posts">#}
                {#<div class="headline"><h2>Latest Posts</h2></div>#}
                {#<ul class="list-unstyled latest-list">#}
                {#<li>#}
                {#<a href="#">Incredible content</a>#}
                {#<small>May 8, 2014</small>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">Best shoots</a>#}
                {#<small>June 23, 2014</small>#}
                {#</li>#}
                {#<li>#}
                {#<a href="#">New Terms and Conditions</a>#}
                {#<small>September 15, 2014</small>#}
                {#</li>#}
                {#</ul>#}
                {#</div>#}
                {#</div><!--/col-md-3-->#}
                <!-- End Latest -->

                <!-- Link List -->
                {#<div class="col-md-3 md-margin-bottom-40">#}
                {#<div class="headline"><h2>Useful Links</h2></div>#}
                {#<ul class="list-unstyled link-list">#}
                {#<li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>#}
                {#<li><a href="#">Portfolio</a><i class="fa fa-angle-right"></i></li>#}
                {#<li><a href="#">Latest jobs</a><i class="fa fa-angle-right"></i></li>#}
                {#<li><a href="#">Community</a><i class="fa fa-angle-right"></i></li>#}
                {#<li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>#}
                {#</ul>#}
                {#</div>#}
                <!--/col-md-3-->
                <!-- End Link List -->

                <!-- Address -->
                <div class="col-md-3 map-img md-margin-bottom-40">
                    <div class="headline"><h2>Contact Us</h2></div>
                    <address class="md-margin-bottom-40">
                        25, Lorem Lis Street, Orange <br/>
                        California, US <br/>
                        Phone: 800 123 3456 <br/>
                        Fax: 800 123 3456 <br/>
                        Email: <a href="mailto:info@anybiz.com" class="">info@anybiz.com</a>
                    </address>
                </div>
                <!--/col-md-3-->
                <!-- End Address -->
            </div>
        </div>
    </div>
    <!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        2014 &copy; All Rights Reserved.
                        <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                    </p>
                </div>

                <!-- Social Links -->
                <div class="col-md-6">
                    <ul class="footer-socials list-inline">
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Facebook">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Skype">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Google Plus">
                                <i class="fa fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Linkedin">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Pinterest">
                                <i class="fa fa-pinterest"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Twitter">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title=""
                               data-original-title="Dribbble">
                                <i class="fa fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div>
    <!--/copyright-->
</div>
<!--=== End Footer Version 1 ===-->
</div>
<!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/jquery/jquery.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/jquery/jquery-migrate.min.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/bootstrap/js/bootstrap.min.js") }}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/back-to-top.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/flexslider/jquery.flexslider-min.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/owl-carousel/owl-carousel/owl.carousel.js") }}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/custom.js") }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/app.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/plugins/owl-recent-works.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
        App.initSliders();
        OwlRecentWorks.initOwlRecentWorksV2();
    });
</script>

<!-- JS Implementing Plugins -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/back-to-top.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/cube-portfolio/cubeportfolio/js/jquery.cubeportfolio.min.js") }}"></script>
<!-- JS Customization -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/custom.js") }}"></script>
<!-- JS Page Level -->
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/app.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/plugins/cube-portfolio.js") }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function () {
        App.init();
    });
</script>


<!--[if lt IE 9]>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/respond.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/plugins/html5shiv.js") }}"></script>
<script type="text/javascript" src="{{ asset("/bundles/gpilayout/js/plugins/placeholder-IE-fixes.js") }}"></script>
<![endif]-->

</body>
</html> 