
{% if isDeactivated %}
    <div class="alert alert-danger fade in"><strong>Oferta została wyłączona przez administratora
            <br/>
            Powód:</strong> {{ disableReason.content }}
    </div>
{% elseif not isActive %}
    <div class="alert alert-warning fade in">Oferta jest nieaktywna.</div>
{% endif %}

<div class="row margin-bottom-60">
    <div class="col-sm-8">
        <p style="padding-top: 50px; padding-bottom: 50px">{{ offer.content|raw }}</p>
        <br/>
    </div>
    <div class="col-sm-4">
        <div class="headline"><h2>Szczegóły</h2></div>
        <ul class="list-unstyled project-details">
            <li><strong>Aukcja:</strong><a class="active" href="{{ path('gpi_auction_details', {'id': offer.getAuction().id }) }}">{{ offer.getAuction().getName() }}</a></li>
            <li><strong>Dodano przez:</strong> {{ offer.getCreatedBy() }}</li>
            <li><strong>Cena minimalna:</strong> {{ offer.actualPrice }}&nbsp;PLN</li>
            {% if app.security.getToken().getUser() == offer.createdBy() %}
                <li><strong>Dolny limit ceny:</strong> {{ offer.price }}&nbsp;PLN</li>
                {% if offer.bidPercent is not null %}
                    <li><strong>Procent przebicia:</strong> {{ offer.bidPercent * 100 }}%</li>
                {% else %}
                    <li><strong>Procent przebicia:</strong> Nie ustalono </li>
                {% endif %}
            {% endif %}
        </ul>
    </div>
</div>

<hr/>
<div class="fusion-portfolio wrapper-portfolio-grid cbp-3-col">
    <div id="grid-container" class="cbp-l-grid-gallery">
        <ul>
            {% for document in offer.documents %}
                <li class="cbp-item motion">
                    <a href="{{ asset(document.getWebPath()) }}"  target="_blank" class="cbp-caption cbp-lightbox">
                        <div class="cbp-caption-defaultWrap">
                            <img src="{{ asset(document.getWebImagePath())  }}" alt="" width="100%">
                        </div>
                        <div class="cbp-caption-activeWrap">
                            <div class="cbp-l-caption-alignCenter">
                                <div class="cbp-l-caption-body">
                                    <p class="cbp-l-caption-desc">{{ document.description }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<hr/>