{% block block %}
    <div class="headline"><h2>{{ settings.title }}</h2></div>

    <form>
        <input type="text" name="name" value="{{ searchParam }}"/>
        <input type="submit" value="Szukaj"/>
    </form>

    <div class="block-newsletter col-sm-12 well">
        <div class="count">
            Całkowita ilość aukcji: {{ pagination.getTotalItemCount }}
        </div>
        {# sorting of properties based on query components #}
        <div{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>Sortuj
            po: {{ knp_pagination_sortable(pagination, 'Nazwa', 'a.name') }}  {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</div>
    </div>

    {# table body #}
    <!--Table Search v2-->
    <div class="table-search-v2 margin-bottom-20">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th class="hidden-sm">Oferta</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                {% for auction in pagination %}

                    <tr>
                        <td>
                            <img class="rounded-x" src="{{ asset(auction.getMainPhoto()) }}" alt="">
                        </td>
                        <td class="td-width">
                            <h3><a href="{{ path('gpi_auction_details', {'id': auction.id }) }}">{{ auction.name }}</a>
                            </h3>

                            <p>{{ auction.getContentShort() }}</p>
                            <small class="hex">Zakończenie {{ auction.getEndTime().format('Y-m-d H:i:s') }}</small>
                        </td>
                        <td>
                            <span class="{{ auctionStatus.label(auction.getStatus()) }}">
                                {{ auctionStatus.name(auction.getStatus()) }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    <!--End Table Search v2-->

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}




