{% block block %}
    <div class="headline"><h2>{{ settings.title }}</h2></div>

    <form>
        <input type="text" name="name" value="{{ searchParam }}"/>
        <input type="submit" value="Szukaj"/>
    </form>

    <div class="block-newsletter col-sm-12 well">
        <div class="count">
            Całkowita ilość aukcji: {{ pagination.getTotalItemCount }}
        </div>
        {# sorting of properties based on query components #}
        <div{% if pagination.isSorted('a.name') %} class="sorted"{% endif %}>Sortuj
            po: {{ knp_pagination_sortable(pagination, 'Nazwa', 'a.name') }}  {{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</div>
    </div>

    {# table body #}
    {% for offer in pagination %}
        <!--Table Search v2-->
        <div class="table-search-v2 margin-bottom-20">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Miniaturka</th>
                        <th class="hidden-sm">Treść</th>
                        <th>Status</th>
                        <th>Kontakt</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <img class="rounded-x" src="{{ offer.getMainPhoto() }}" alt="">
                        </td>
                        <td class="td-width">
                            <h3><a href="{{ path('gpi_offer_details', {'id': offer.id }) }}">{{ offer.name }}</a></h3>
                            <p>{{ offer.getContentShort() }}</p>
                            <small class="hex">Zakończenie {{ offer.getEndTime() }}</small>
                        </td>
                        <td>
                            <span class="label label-success">Aktywna</span>
                        </td>
                        <td>
                            <ul class="list-inline s-icons">
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Facebook" href="/">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Twitter" href="/">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Dropbox" href="/">
                                        <i class="fa fa-dropbox"></i>
                                    </a>
                                </li>
                                <li>
                                    <a data-placement="top" data-toggle="tooltip" class="tooltips" data-original-title="Linkedin" href="/">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                            <span><a href="#">info@example.com</a></span>
                            <span><a href="#">www.htmlstream.com</a></span>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
        <!--End Table Search v2-->

    {% endfor %}
    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(pagination) }}
    </div>

{% endblock %}




