{% macro menu_categories(categories) %}
    {% for category in categories %}
        <li>
            <a href="{{ path('gpi_offer_offers_by_cetegory', {'categorySlug': category.slug}) }}">{{ category.name }}</a>
            {% if category.children %}
                <ul>
                    {{ _self.menu_categories(category.children) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block block %}
    <div class="headline"><h2>{{ settings.title }}</h2></div>

    <ul class="main-menu">
        {{ _self.menu_categories(categories) }}
    </ul>
{% endblock %}
