{% macro menu_categories(categories, slug) %}
    {% for category in categories %}
        <li>
            {% set class = "" %}
            {% if category.slug = slug %}
                {% set class = "active" %}
            {% endif %}
            <a class="{{ class }}" href="{{ path('gpi_auction_auctions_by_category', {'categorySlug': category.slug}) }}">{{ category.name }}</a>

            {% if category.children %}
                <ul>
                    {{ _self.menu_categories(category.children, slug) }}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block block %}
    <div class="headline"><h2>{{ settings.title }}</h2></div>

    <ul class="main-menu">
        {{ _self.menu_categories(categories, slug) }}
    </ul>

    <script type="application/javascript">
        jQuery(document).ready(function () {

        });
    </script>

    <style>
        .active{
            font-weight: bold;
        }
    </style>
{% endblock %}
