{% macro menu_categories(categories, slug, numbersDict, parentSlug) %}
    {% for category in categories %}
        {% set class = "" %}
        {% if (category.slug == slug and category.entity.parent.parent is null) or category.slug == parentSlug %}
            {% set class = "active accordion-toggle" %}
            {% set classA = "" %}
            {% set classUL = "collapse in" %}
            {% set classLI = "list-group-item list-toggle active" %}

        {% else %}
            {% set class = "accordion-toggle collapsed" %}
            {% set classA = "collapsed" %}
            {% set classUL = "collapse" %}
            {% set classLI = "list-group-item list-toggle" %}

        {% endif %}
        <li class="{{ classLI }}" style="overflow: hidden;">

            <a class="{{ classA }} " style="display: inline; line-height: 34px;"
               href="{{ path('gpi_auction_auctions_by_category', {'categorySlug': category.slug}) }}">
                {% if category.slug == slug %}&#8226&nbsp;{% endif %}{{ category.name }}
                {% if numbersDict[category.entity.id] > 0 %}
                <span class="badge rounded badge-light">
                    {{ numbersDict[category.entity.id] }}
                </span>
                {% endif %}
            </a>

            {% if category.children %}
                <a class="{{ classA }} " style="display: inline; position: absolute; right: 0;"
                   data-toggle="collapse"
                   data-parent="#sidebar-nav"
                   href="#collapse-{{ category.slug }}">&raquo;
                </a>

                <ul id="collapse-{{ category.slug }}" class="{{ classUL }}">
                  {{ _self.menu_categories(category.children, slug, numbersDict, parentSlug) }}

                </ul>
            {% endif %}
        </li>
    {% endfor %}
{% endmacro %}

{% block block %}

    {#///////////////////////////////////////////////////////////////////////////////////////////#}
    <ul class="main-menu list-group sidebar-nav-v1" id="sidebar-nav">
        {{ _self.menu_categories(categories, slug, numbersDict, parentSlug) }}

    </ul>
    {#///////////////////////////////////////////////////////////////////////////////////////////  #}
    {% verbatim %}
    <script type="application/javascript">

    </script>

    <style>

        .main-menu li {
            width: 100%;
        }

        .main-menu .list-toggle:after {
            display: none;
        }

        .main-menu.sidebar-nav-v1 li ul a {
            border: none;
        }

        .sidebar-nav-v1 li ul, .sidebar-nav-v1 li.active ul a {

            background: #ffffff;
        }


    </style>
    {% endverbatim %}
{% endblock %}

