<div class="container content">
    <div class="row">
        <div class="col-md-3">
            <div class="margin-bottom-30">
                <div class="headline"><h2>Kategoria</h2></div>
                <p>{{ offer.category }}</p>
            </div>
            <div class="margin-bottom-30">
                <div class="headline"><h2>Dodano przez</h2></div>
                <p>{{ offer.getCreatedBy() }}</p>
            </div>
        </div>
        <div class="col-md-9">
            <div class="headline"><h2>{{ offer.name }}</h2></div>
            <p>{{ offer.content|raw }}</p>

            <div class="container content">

                <div class="col-md-12">

                    <div class="owl-carousel-v1 owl-work-v1">

                        <div class="owl-recent-works-v1">
                            {% for ducument in offer.documents %}


                                <div class="item">
                                    <a href="/{{ ducument.getWebPath() }}" target="_blank">
                                        <em class="overflow-hidden">
                                            <img class="img-responsive" src="/{{ ducument.getWebPath() }}" alt="">
                                        </em>
                                <span>
                                    <strong>{{ ducument.description }}</strong>
                                    {#<i>Anim pariatur cliche reprehenderit</i>#}
                                </span>
                                    </a>
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>