<div class="block-newsletter col-sm-12 well">Tytuł: {{ offer.name }}</div>
<div class="block-newsletter col-sm-12 well">Treść: {{ offer.content|raw }}</div>
<div class="block-newsletter col-sm-12 well">Kategoria: {{ offer.category }}</div>

<div class="container content">

    <div class="col-md-12">

        <div class="owl-carousel-v1 owl-work-v1">

            <div class="owl-recent-works-v1">
                {% for ducument in offer.documents %}

                <div class="item">
                    {#<a href="{{ path('gpi_offer_details', {'id': offer.id }) }}">#}
                    <em class="overflow-hidden">
                        <img class="img-responsive" src="/{{ ducument.getWebPath() }}" alt="">
                    </em>
                                <span>
                                    <strong>{{ ducument.description }}</strong>
                                </span>
                    {#</a>#}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>